<!-- The Modal -->
<div class="modal" id="confirmModal">
  <div class="modal-dialog">
    <div class="modal-content">


      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4></h4>
        <button type="button" class="close"  onclick="$('#confirmModal').hide();">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" >
        <h2 id="confirmModalData"></h2>
        <div style="text-align: right;">
          <input type="button" name="confirmar" value="Confirmar" id="confirmar" class="clsButton btn btn-primary btn-yes">           
          <input type="button"  name="cancelar" value="Cancelar" id="cancelar" class="clsButton btn btn-danger btn-no">
        </div>
        
      </div>

      <!-- Modal footer -->
      <!--div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="$('#confirmModal').hide();">Cerrar</button>
      </div-->

    </div>
  </div>
</div>