<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><?php echo $_SESSION['departamento']; ?></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!Bootstrap core CSS -->
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

<!-- Bootstrap Date-Picker Plugin -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <!-- Paginación e imrpimir las tablas -->
  <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link href="../css/styleTony.css" rel="stylesheet" type="text/css">
 <link href="../css/loading.css" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

 <!-- CSS's para imprimir las tablas (botones de reportes)-->

 <link rel="stylesheet" href="../css/columns.css">

</head>

<body>

   <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg static-top divEnmarcado header">
    <div class="container " id="login-container">
      <a class="navbar-brand" href="#" > <img src="../Images/logo_oficial_enfermera.png" style="width:30%"></a>
      <div class="text-center">
        <h3 class="tituloPrincipal"><strong>Enfermeras Prácticas Gratuitas a Domicilio de Querétaro I.A.P</strong></h3>
        <h5><?php echo $_SESSION['departamento']; ?><h5>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

         <?php if(isset($_SESSION['departamento'])&&$_SESSION['departamento']=='Administrador'): ?>
         <li class="nav-item active ">
          <a class="nav-link center " href="admin.php">Página principal
            <span class="sr-only">(current)</span>
          </a>
         </li>
         <?php endif; ?>
         
         <?php if(isset($_SESSION['departamento'])): ?>
         <li class="nav-item">
           <a class="nav-link" href="../common/logout.php">Cerrar sesión</a>
         </li>
         <?php endif; ?>

        </ul>
      </div>
    </div>
  </nav>

