
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-6 text-center">
        <a href="cuentas.php"> <button type="button" class="btn btn-primary btn-block botonAdmin cuentasicono"><i class="material-icons mdI">group</i><p class="btn-label">Cuentas</p></button>
    </a>  </div>

      <div class="col-lg-6 text-center">
        <a href="reportes.php"> <button type="button" class="btn btn-primary btn-block botonAdmin reportesicono"><i class="material-icons mdI">assessment</i><p class="btn-label">Reportes</p></button>
</a>
        </div>
      </div>

    
    <br>

    <div class="row">

      <div class="col-lg-6 text-center">
          <a href="consultas.php" >    <button type="button" class="btn btn-primary btn-block botonAdmin consultasicono"><i class="material-icons mdI">find_in_page</i><p class="btn-label">Consultas</p></button>
</a>
        </div>

      <div class="col-lg-6 text-center">
    <a href="voluntarios.php">            <button type="button" class="btn btn-primary btn-block botonAdmin voluntariosicono"><i class="material-icons mdI">face</i><p class="btn-label">Voluntarios</p></button>
</a>
      </div>

    </div>
  </div>
