
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-6 text-center">
        <div class="card" >
         <form action="administracion/cuentas.php" method="POST">
          <input type="image" src="Images/users.png" class="card-img-top" alt="Administrar cuentas">
          <div class="card-body">
            <h5 class="card-title">Cuentas</h5>
          </div>
         </form>
        </div>
      </div>

      <div class="col-lg-6 text-center">
        <div class="card">
          <form action="administracion/reportes.php" method="POST">
            <input type="image" src="Images/reportes.png" class="card-img-top" alt="Reportes">
            <div class="card-body">
              <h5 class="card-title">Reportes</h5>
           </div>
          </form>
        </div>
      </div>

    </div>
    <br>

    <div class="row">

      <div class="col-lg-6 text-center">
        <div class="card">
          <form action="administracion/consultas.php" method="POST">
           <input type="image" src="Images/consultas.png" class="card-img-top" alt="Consultar registros">
           <div class="card-body">
             <h5 class="card-title">Consultas</h5>
           </div>
          </form>
          </div>
        </div>

      <div class="col-lg-6 text-center">
        <div class="card" >
          <form action="administracion/voluntarios.php" method="POST">
           <input type="image" src="Images/voluntarios.png" class="card-img-top" alt="Administrar voluntarios">
           <div class="card-body">
            <h5 class="card-title">Voluntarios</h5>
           </div>
          </form>
        </div>
      </div>

    </div>
  </div>
