

          <!-- Page Content -->
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">

                
                <ul class="list-unstyled">



               <br>

      <section>

       <div class="container">


        <!-- Modal -->
        <div class="modal fade" id="modificarServicio" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">

                <h4 class="modal-title">Modificar servicio</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <!-- Page Content -->
                          <div class="container">
                            <div class="row">
                              <div class="col-lg-12 text-center">
                                <h1 class="mt-5">Modificar servicio</h1>

                                <ul class="list-unstyled">

                                    <div class="row">
                            <div class="column">
                              <img src="../Images/jesus_tocando_puerta.jpg" style="width:100%">
                            </div>
                            <div class="column">
                                <form action="controlador/editar_servicio.php" method="POST" autocomplete="off">
                                <label for="dep" style="border-left:  "> Departamento  </label>    
                                <select class="form-control form-control-sm" name="depa2" id="depa2">
                                <?php 
                                    $depas=getdepas();
                                  ?>
                                  <?php while($row = mysqli_fetch_array($depas)):;?>
                                  <option value="<?php echo $row[0];?>"><?php echo $row[1];?></option>
                                  <?php endwhile;?>
                                </select>
                                    
                                <br>
                               
                                     <label >Buscar paciente </label>
                                      <input type="text" id="userInput" onkeyup="sendRequest3();">
                              <div style="text-align: center" id="ajaxResponse3"> </div>
                              <br>
                                    <input type="hidden" name="paciente2" id="paciente2" />
                                <br>
                                     <label >Buscar voluntario </label>
                                      <input type="text" id="userInput2" onkeyup="sendRequest4();">
                                       <input type="hidden" name="asistente2" id="asistente2" />
                              <div style="text-align: center" id="ajaxResponse4"> </div>
                               
                                <div class="form-group"> <!-- Date input -->
                                <label class="control-label"  for="date2">Selecciona dia y mes:</label>
                                    <input type="date" value="YYYY-MM-DD" name="date2" id="date2" />
                                </div>
                                  <label>Servicio</label>
                                  <br>
                                    <select class="form-control form-control-sm" id="servicio2" name="servicio2" required>
                                 <?php 
                                    $tipos=getTiposdeServicio();
                                  ?>
                                  <?php while($row = mysqli_fetch_array($tipos)):;?>
                                  <option value="<?php echo $row[0];?>"><?php echo $row[2];?></option>
                                  <?php endwhile;?>
                                    </select>
                                    
                                 <br> <label>Observaciones</label>
                                  <br>
                                <input type="text" id="Observaciones2" name="Observaciones2" />
                                <br>
                                  <label>Cuota de Recuperacion</label>
                                  <br>
                                <input type="number" id="cuota2" name="cuota2"  value="0" required>
                                <br>
                                     <input type="hidden" name="employee_id" id="employee_id" />
                                  <input type="submit" id="insert" name="insert" value="Insert" class="btn btn-success" />
                              </form>
                            </div>
                          </div>

                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>

       


                  </ul>
                  

                </div>
              </div>
              
      </div>
   


<script type="text/javascript" src="js/edicionS.js" ></script>
<script type="text/javascript" src="js/ajax.js"> </script>