<!-- The Modal -->
<div class="modal" id="confirmModalBorrarVoluntario">
  <div class="modal-dialog">
    <div class="modal-content">


      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4></h4>
        <button type="button" class="close"  onclick="$('#confirmModalBorrarVoluntario').hide();">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" >
        <h2 id="confirmModalBorrarVoluntarioData"></h2>
        <div style="text-align: right;">
          <input type="button" name="confirmarBorrar" value="Confirmar" id="confirmarBorrar" class="clsButton btn btn-primary ">           
          <input type="button"  name="cancelarBorrar" value="Cancelar" id="cancelarBorrar" class="clsButton btn btn-danger">
        </div>
        
      </div>

      <!-- Modal footer -->
      <!--div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="$('#confirmModal').hide();">Cerrar</button>
      </div-->

    </div>
  </div>
</div>