<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class=""><strong>Cuentas</strong></h1>
      <br>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg-3">
      <div class="card" style="width: 14rem;">
        <img src="../Images/sanjurjo.jpg" class="card-img-top cortarImagen" alt="Imagen de cuenta de Administrador">
        <div class="card-body">
          <h5 class="card-title">Administrador</h5>
          <p class="card-text">Contraseña:</p>
          <form ">
            <input type="password" class="form-control" id="contrasenaNuevaDispensario" name="contrasenaNuevaDispensario"placeholder="Ejemplo: 4815">
            <br>
            <!--input onclick="cambioContrasena()" type="submit" class="btn btn-primary" value="Cambiar contraseña"-->
          </form>
          <button type="button" onclick="cambiarContraseña()" class="btn btn-primary">Cambiar contraseña</button>
        </div>
      </div>
   </div>

    <div class="col-lg-3">
      <div class="card" style="width: 14rem;">
        <img src="../Images/virgen_de_guadalupe2.jpg" class="card-img-top cortarImagen" alt="Imagen de cuenta de dispensario">
        <div class="card-body">
          <h5 class="card-title">Dispensario</h5>
          <p class="card-text">Contraseña:</p>
          <form >
            <input type="password" class="form-control" id="contrasenaNuevaDispensario" name="contrasenaNuevaDispensario"placeholder="Ejemplo: 4815">
            <br>
            <!--input onclick="cambioContrasena()" type="submit" class="btn btn-primary" value="Cambiar contraseña"-->
          </form>
          <button type="button" onclick="cambiarContraseña()" class="btn btn-primary">Cambiar contraseña</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card" style="width: 14rem;">
        <img src="../Images/sagrado_corazon_cuentas.jpg" class="card-img-top cortarImagen" alt="Imagen de cuenta de Porteria">
        <div class="card-body">
          <h5 class="card-title">Porteria</h5>
            <p class="card-text">Contraseña:</p>
            <form>
              <input type="password" class="form-control" id="contrasenaNuevaPorteria" name="contrasenaNuevaPorteria"placeholder="Ejemplo: 4815">
              <br>
              <!--input onclick="cambioContrasena()" type="submit" class="btn btn-primary" value="Cambiar contraseña"-->
            </form>
            <button type="button" onclick="cambiarContraseña()" class="btn btn-primary">Cambiar contraseña</button>
        </div>
      </div>
    </div>

      <div class="col-lg-3">
        <div class="card" style="width: 14rem;">
          <img src="../Images/cuadro.jpg" class="card-img-top cortarImagen" alt="...">
          <div class="card-body">
            <h5 class="card-title">Asistencias</h5>
            <p class="card-text">Contraseña:</p>
             <form >
              <input type="password" class="form-control" id="contrasenaNuevaAsistencias" name="contrasenaNuevaAsistencias"placeholder="Ejemplo: 4815">
              <br>
              <!--input onclick="cambioContrasena()" type="submit" class="btn btn-primary" value="Cambiar contraseña"-->
            </form>
            <button type="button" onclick="cambiarContraseña()" class="btn btn-primary">Cambiar contraseña</button>
          </div>
        </div>
      </div>
    </div>
