
  <!-- Page Content -->
     <div class="container middle">
    <div class="row">
      <div class="col-lg-12 text-center">
        <H1 style="font-size: 405%" class="mt-5">Reportes</H1>
        <ul class="list-unstyled">
<div class="row">
              <div class="column column2"><a href="local.php"><button type="button" class="btn btn-primary btn-block botonAdmin voluntariosicono"  > Local </button> </a></div>
              <div class="column column2"> <a href="MP.php"> <button type="button" class="btn btn-primary btn-block botonAdmin  cuentasicono" >Monte de Piedad </button></a>  </div>
              <div class="column column2"> <a href="JAP.php"> <button type="button" class="btn btn-primary btn-block botonAdmin  consultasicono" > JAP </button></a>  </div>
        
    </div>
          </ul>
        </div>
         </div>
</div>


   