  <form  style="text-align: left" method="post" action="local.php">
      <div class="form-group"> <!-- Date input -->
        <label class="control-label"  for="date">Selecciona día y mes inicial:</label>
       <input type="date" value="YYYY-MM-DD" name="date" id="date">
      </div>
      <div class="form-group"> <!-- Date input -->
        <label class="control-label"  for="date2">Selecciona día y mes final:</label>
       <input type="date" value="YYYY-MM-DD" name="date2" id="date2">
      </div>

     </form>
          <div class="form-group text-left" style="text-align: left">
              <button class="btn btn-primary "   onclick="sendRequest2()">Enviar datos</button>
          </div>



 <div style="text-align: center" id="ajaxResponse2"></div>

    <script type="text/javascript" src="js/ajax.js"></script>
