  <form  style="text-align: left" >
      <div class="form-group"> <!-- Date input -->
        <label class="control-label"  for="date">Selecciona día y mes inicial:</label>
       <input type="date" value="YYYY-MM-DD" name="date" id="date">
      </div>
      <div class="form-group"> <!-- Date input -->
        <label class="control-label"  for="date2">Selecciona día y mes final:</label>
       <input type="date" value="YYYY-MM-DD" name="date2" id="date2">
      </div>

     </form>
          <div class="form-group text-left" style="text-align: left">
              <button class="btn btn-primary "   onclick="sendRequest6()">Enviar datos</button>
          </div>



 <div style="text-align: center" id="ajaxResponse6"></div>

    <div  > <h5>Una vez terminado el reporte de servicios haga click aquí para los voluntarios</h5><a href="voluntarios.php"> <button class="btn btn-info">Reporte de voluntarios</button></a> </div>
<br>

    <script type="text/javascript" src="js/ajax.js"></script>
