

          <!-- Page Content -->
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">

                <h1 class="mt-5">Lista de voluntarios</h1><br>

                <ul class="list-unstyled">



               <br>

      <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#registrarVoluntario">Agregar voluntario</button>

        <!-- Modal -->
        <div class="modal fade" id="registrarVoluntario" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">

                <h4 class="modal-title">Registrar voluntario</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <!-- Page Content -->
                          <div class="container">
                            <div class="row">
                              <div class="col-lg-12 text-center">
                                <h1 class="mt-5">Registrar Voluntario</h1>

                                <ul class="list-unstyled">

                                    <div class="row">
                            <div class="column">
                              <img src="Images/jesus_tocando_puerta.jpg" style="width:100%">
                            </div>
                            <div class="column">
                              <form action="guardar_voluntario.php" method="POST">

                                <label for="nombre">Nombre(s) y apellido(s) completos</label>
                                <br>
                                <input type="text" id="nombre" name="nombre" placeholder="Nombre(s)" required>
                                <label>Fecha de Nacimiento</label>
                                  <br>
                                <input type="date" id="fechaDeNacimiento" name="fechaDeNacimiento"required>
                                  <p></p>
                                <label for="sexo">Sexo</label>
                                <select class="form-control form-control-sm" id="sexo" name="sexo"required>
                                  <option value="masculino">Masculino</option>
                                  <option value="femenino">Femenino</option>
                                </select>
                                <br>
                                <label for="cargo">Cargo</label>
                                <br>
                                <select class="form-control form-control-sm" id="cargo" name="cargo" required>
                                  <option value="ninguno">Ninguno</option>
                                  <option value="representante">Representante Legal</option>
                                  <option value="vicepresidente">Vicepresidente</option>
                                  <option value="secretaria">Secretaria</option>
                                  <option value="tesorera">Tesorera</option>
                                </select>
                                <br>
                                <label for="tipo">Tipo</label>
                                <br>
                                <select class="form-control form-control-sm" id="tipo" name="tipo" required>
                                  <option value="superiora">Superiora</option>
                                  <option value="enfermera">Enfermera</option>
                                  <option value="medico_familiar">Medico Familiar</option>
                                  <option value="voluntario">Voluntario</option>
                                  <option value="tesorera">Tesorera</option>
                                </select>
                                <br>
                                  <button type="submit" id="submit" name="submit">Agregar voluntario</button>
                              </form>
                            </div>
                          </div>

                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section>

       <div class="container">


        <!-- Modal -->
        <div class="modal fade" id="modificarVoluntario" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">

                <h4 class="modal-title">Modificar voluntario</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <!-- Page Content -->
                          <div class="container">
                            <div class="row">
                              <div class="col-lg-12 text-center">
                                <h1 class="mt-5">Registrar Voluntario</h1>

                                <ul class="list-unstyled">

                                    <div class="row">
                            <div class="column">
                              <img src="Images/jesus_tocando_puerta.jpg" style="width:100%">
                            </div>
                            <div class="column">
                              <form action="/action_page.php">

                                  <label for="fname">Nombre</label>
                                  <br>
                                <input type="text" id="fname" name="firstname" placeholder="Fco Javier ">
                                <br>
                                  <label for="lname">Apellido</label>
                                  <br>
                                <input type="text" id="lname" name="lastname" placeholder="Castillo">
                                <br>
                                <label>Fecha de Nacimiento</label>
                                  <br>
                                <input type="date" id="bdate" name="fechanac" placeholder="15/07/2018">
                                  <p></p>
                                <label for="sexo">Sexo</label>
                                <select class="form-control form-control-sm" id="sexo" name="sexo">
                                  <option value="masculino">Masculino</option>
                                  <option value="femenino">Femenino</option>
                                </select>
                                <br>
                                <label for="puesto">Puesto</label>
                                <br>
                                <select class="form-control form-control-sm" id="puesto" name="puesto">
                                  <option value="director">Director/a</option>
                                  <option value="asistente">Asistente</option>
                                </select>
                                <br>
                                  <button type="button" class="btn btn-primary" ><a href="registro_servicio.html">Agregar voluntario</a></button>
                              </form>
                            </div>
                          </div>

                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      </section>

       </div>


      </div>
      </div>

        </ul>
      </div>
    </div>
  </div>
<br>
