body{
    background-color:#E6E6FA;
}
html{
      font-family: Arial;
    background-color:azure;
}
.middle{
     background-color:;
    font-size: 20px;
    font-family: Palatino, URW Palladio L, serif;
}
.header{
    /*color:darkred;
    border-width: medium;
    border-color: whitesmoke;
    background-color:#FA8072	;
    font-size: 20px;*/
    font-family: Palatino, URW Palladio L, serif;
}
.navbar-nav ml-auto{
    background-color:aqua;
}
.footer{
    text-align: center;
    background-color:azure;
}
.btn btn-outline-light{
    color:black;
}